        <div class="th-hero-wrapper hero-1" id="hero" data-bg-src="assets/img/hero/hero-bg1-1.png">
            <div class="container">
                <div class="hero-style1 text-center">
                    <span class="sub-title custom-anim-top wow animated" data-wow-duration="1.2s" data-wow-delay="0.1s"># SHOE'S EF CORE MV' </span>
                    <h1 class="hero-title">
                        <span class="title1 custom-anim-top wow animated" data-wow-duration="1.1s" data-wow-delay="0.3s" data-bg-src="assets/img/hero/hero-title-bg-shape1.svg">@ViewData["Title"] </span>

                        <span class="sub-title custom-anim-top wow animated" data-wow-duration="1.1s" data-wow-delay="0.4s">BOSTON JOKER 2024 </span>
                    </h1>
                </div>
            </div>
        </div>