        <div class="sidemenu-wrapper sidemenu-info d-none d-lg-block">
            <div class="sidemenu-content">
                <button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>

                <div class="widget footer-widget">
                    <div class="th-widget-about">
                        <div class="about-logo">
                            <a href="index.html"> <span data-mask-src="assets/img/logo.svg" class="logo-mask"> </span> <img src="assets/img/logo.svg" alt="Shoes" /></a>
                        </div>

                        <p class="about-text">Beyond esports tournaments, include a broader calendar of gaming events, conferences, and conventions.</p>
                        <h3 class="widget_title">
                            Follow

                            <span class="text-theme">With Us: </span>
                        </h3>

                        <div class="th-widget-contact">
                            <div class="th-social style-mask">
                                <a class="facebook" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a> <a class="twitter" href="https://www.twitter.com/"><img src="assets/img/icon/x-twitter-icon.svg" alt="icon" /></a>
                                <a class="instagram" href="https://www.instagram.com/"><img src="assets/img/icon/instagram-icon.svg" alt="icon" /> </a><a class="linkedin" href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
                                <a class="google-play" href="https://www.google.com/"><img src="assets/img/icon/google-playstore-icon.svg" alt="icon" /></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="widget">
                    <h3 class="widget_title">Shop Cart</h3>

                    </div>
                </div>
            </div>
        </div>